.course-container {
  padding: 10px;
}

.nav-bg-color-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #204268;
  margin: 20px 0;
}

.quires-form .title-label {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
  padding: 1rem;
  background-color: #204268;
  border-radius: 20px 20px 0px 0px;
}
.quires-form form {
  border-radius: 20px !important;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
  background: #cbdff8;
  border-radius: 5px/5px;
}
.quires-form input,
.quires-form textarea,
.quires-form select {
  margin: 10px 25px;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.quires-form select option {
  color: #ccc;
}

.button {
  display: inline-block;
  width: fit-content;
  margin-top: 30px;
  border: none;
  padding: 10px 20px;
  background-color: #204268;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #b9732e;
}

.top-content-container .top-container .top-content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
.top-content-container .top-container .top-content-section .title-1 {
  font-size: 2.2vw;
  font-weight: 400;
  color: #204268;
  margin-top: 20px;
}
.top-content-container .top-container .top-content-section .title-2 {
  font-size: 3vw;
  color: #0e325c;
  font-weight: 500;
}
.top-content-container .top-container .top-content-section .title-3 {
  font-size: 1.5vw;
  color: #b9732e;
}
.top-content-container .top-container .top-content-section .enq-btn-container .enq-btn {
  margin-top: 20px;
  padding: 0.8rem 1rem;
  background-color: #204268;
  color: white;
}
.top-content-container .top-container .top-image-container .top-image {
  width: 100%;
}
.top-content-container .top-container .top-end-container .count {
  font-size: 2vw;
  font-weight: 700;
}
.top-content-container .top-container .top-end-container .title-count {
  font-size: 1vw;
  font-weight: 500;
}

.get-job .get-job-container {
  margin: 5%;
  border: 3px solid #204268;
  border-radius: 1rem;
  position: relative;
}
.get-job .get-job-container .get-job-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.get-job .get-job-container .get-job-content .content {
  font-size: 2.8vw;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10%;
  color: #204268;
}
.get-job .get-job-container .get-job-content .content .main-content {
  color: #b9732e;
}
.get-job .get-job-container img {
  border-radius: 1rem;
}

.height-light-keys {
  background-color: #dfeaf6;
}
.height-light-keys .row {
  font-weight: 500;
}

.course-hights {
  background-color: #dfeaf6;
}
.course-hights .image-container {
  height: 100%;
  position: relative;
}
.course-hights .image-container .img-holder {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 900;
}
.course-hights .image-container .img-holder .image-helper {
  position: relative;
}
.course-hights .image-container .img-holder .image-helper .position-elements {
  position: absolute;
  top: 3%;
}

.jn-academy {
  padding: 0 20px;
  margin: 70px 0;
}
.jn-academy .jn-details {
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jn-academy .jn-details .jn-details-content .title {
  font-size: 3vw;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 600;
  color: #204268;
}
.jn-academy .jn-details .jn-details-content .sub-title {
  font-size: 2vw;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 600;
  color: #204268;
}
.jn-academy .jn-details .jn-details-content .content {
  font-size: 1.3vw;
}

.course-container {
  padding: 40px 20px;
  background-color: rgba(81, 140, 207, 0.1843137255);
  color: white;
  font-weight: 500;
  color: black;
}
.course-container .course-title {
  color: #0e325c;
  font-size: 3vw;
  font-weight: 700;
}
.course-container .icon-container {
  color: gold;
}
.course-container .rating-text {
  font-weight: 400;
}
.course-container .split-up-content {
  font-weight: 400;
}
.course-container .p-ra-container {
  font-weight: 400;
}
.course-container .card-section .card {
  padding: 20px 5px;
  color: black;
  height: 100%;
}
.course-container .card-section .card .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-container .card-section .card .image-container img {
  width: 8vw;
}
.course-container .card-section .card .on-off {
  margin: 10px 0;
}
.course-container .card-section .card .Reach-us {
  background-color: #27b83b;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 5px/5px;
  margin: 10px 0;
  cursor: pointer;
}
.course-container .card-section .card .request-btn {
  color: white;
  padding: 10px;
  margin: 15px;
  background-color: #204268;
}

.course-hight-light {
  padding: 25px;
}
.course-hight-light .icon {
  color: #27b83b;
}

@media only screen and (max-width: 768px) {
  .button-two {
    margin-top: 10px;
    font-size: 3vw;
  }
  .quires-form .title-label {
    text-align: left;
    font-size: 4vw;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
    padding: 1rem;
    background-color: #204268;
    border-radius: 20px 20px 0px 0px;
  }
  .quires-form form {
    border-radius: 20px !important;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;
    background: #cbdff8;
    border-radius: 5px/5px;
  }
  .quires-form input,
  .quires-form textarea,
  .quires-form select {
    margin: 10px 25px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
  .quires-form select option {
    color: #ccc;
  }
  .top-content-container .top-container .top-content-section {
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .top-content-container .top-container .top-content-section .title-1 {
    font-size: 5vw;
    font-weight: 400;
    color: #204268;
    margin-top: 20px;
  }
  .top-content-container .top-container .top-content-section .title-2 {
    font-size: 6vw;
    color: #0e325c;
    font-weight: 500;
  }
  .top-content-container .top-container .top-content-section .title-3 {
    font-size: 4vw;
    color: #b9732e;
  }
  .top-content-container .top-container .top-content-section .enq-btn-container .enq-btn {
    margin-top: 20px;
    padding: 0.8rem 1rem;
    background-color: #204268;
    color: white;
  }
  .top-content-container .top-container .top-image-container .top-image {
    width: 100%;
  }
  .top-content-container .top-container .top-end-container {
    margin: 40px 0;
  }
  .top-content-container .top-container .top-end-container .count {
    font-size: 3.4vw;
    font-weight: 700;
  }
  .top-content-container .top-container .top-end-container .title-count {
    font-size: 2.4vw;
    font-weight: 500;
  }
  .jn-academy .jn-details {
    margin-bottom: 100px;
  }
  .jn-academy .jn-details .jn-details-content .title {
    font-size: 4vw;
  }
  .jn-academy .jn-details .jn-details-content .sub-title {
    font-size: 2vw;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 600;
    color: #204268;
  }
  .jn-academy .jn-details .jn-details-content .content {
    font-size: 3vw;
  }
  .course-container {
    padding: 25px;
  }
  .course-container .course-title {
    font-size: 5vw;
    font-weight: 700;
  }
}
@media only screen and (max-width: 576px) {
  .hide-image {
    display: none;
  }
}